@model MvcDeganitSite.Models.NavigationWord

@{
    ViewBag.Title = "מילת ניווט חדשה";
}

<h2>מילת ניווט חדשה</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h3 style="color:red">@ViewBag.ErrorMessage</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>מילת ניווט</legend>
          <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <p>
            <input type="submit" value="יצירה" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("לרשימת מילות הניווט", "Index")
</div>
