@model MvcDeganitSite.ViewModels.DeleteMainCategory

@{
    ViewBag.Title = "מחיקה";
}

<h2>מחיקה</h2>

<h3>האם את בטוחה שאת רוצה למחוק את הקטגוריה הזאת?</h3>
<fieldset>
    <legend>קטגוריה ראשית</legend>

    <div class="display-label">שם</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mainCategory.Name)
    </div>
@{
    
        <h1 style="color:red">אזור מסוכן!!! אנא הביטי טוב במתכונים למטה שהולכים להמחק!</h1>
        <h2>מתכונים שימחקו</h2>
       <table class="MainTbl" >
        <tr>
        @{
        int cnt = 0;
        foreach (var item in Model.recipes)
        {
            if (cnt++ % 5 == 0)
            {
                @: </tr><tr>
            }
            @:<td align="center" >
               <strong>  @item.Name</strong> <br />
                @item.Description <br />
                <a href="@item.Url" target="_blank"><img src="../../Content/recipesPictures/@item.PictureName" alt="" height="150px" width="200" />  </a>
         
                                                                    
           @: </td>
       
                                                                 
        }
        @:</tr>
        @: <br />
    


    }
    </table>  
    }
    

    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="מחקי" /> |
        @Html.ActionLink("חזרה", "Index")
    </p>
}
