@model MvcDeganitSite.ViewModels.CategoryToDisplay
@{
    ViewBag.Title = "דף הבית";
}

<!--script to show an element that is hiden-->
<script type="text/javascript">
    function show() {
        document.getElementById("hide").style.display = "block";
    }
</script>

<h2>@ViewBag.Message</h2>
<p>
   <!-- <img src="../../Content/pictures/ilayAndDeganit.JPG" width="1000px" height="500px" alt=""/><br />-->
  שלום זהו אתר הבית של דגנית החמודה ועילי זידמן 
    <br />
    מי שרוצה להכנס נא לבוא עם חיוך!1
</p>
@* 
@using (Html.BeginForm())
{
    <h2>חיפוש מתכון לפי מילת ניווט</h2>
    <div class="editor-label">
            @Html.LabelFor(model => model.NavigateList, "מילות ניווט")
        </div>
    
    <div class="editor-field">
    <p>בחר מהרשימה הבאה:<select>
                                <option></option>
                               @foreach (var nav in Model.NavigateList)
                               {
                                   <option value="@nav.Name">@nav.Name</option>
                               }
                           </select>
                        @Html.DropDownList("NavName", String.Empty)
                           <input type="submit" value="בחר" />
                           </p>
                       

    </div>
}
    *@
<div onclick="show();">לבחירת מתכון לפי מילות ניווט<strong><button>לחץ כאן</button></strong>
 <br /> <br />
 </div>
<div id="hide"  style="display:none">
      @foreach (var nav in Model.NavigateList)
      {
        @Html.ActionLink(@nav.Name, "Index", new { name = @nav.Name })<span> |</span>
      }
</div>

<br />
@if (Model.RecipeByChoosenNavigateWord != null)
{
    <h3>מתכונים לפי מילת ניווט <em>@ViewBag.Nav</em></h3>
    
    <table class="MainTbl" >
    <tr>
    @{
    int cnt = 0;
    foreach (var item in Model.RecipeByChoosenNavigateWord)
    {
        if (cnt++ % 4 == 0)
        {
            @: </tr><tr>
        }
        @:<td align="center" >
           <strong>  @item.Name</strong> <br />
            @item.Description <br />
            <a href="@item.Url" target="_blank"><img src="../../Content/recipesPictures/@item.PictureName" alt="" height="200px" width="250" />  </a>
       @: </td>
            
    }
    @:</tr>


}
</table>
  
}

<br />
<div>
@foreach (var item in Model.MainCategories)
{
    @Html.ActionLink(@item.Name, "Index", new { id = @item.MainCategoryId }) <span>|</span>
}
</div>

@if (Model.Recipes != null)
{
    <h3>מתכונים מקטגורית <em>@ViewBag.Name</em></h3>
    
    <table class="MainTbl" >
    <tr>
    @{
    int cnt = 0;
    foreach (var item in Model.Recipes)
    {
        if (cnt++ % 4 == 0)
        {
            @: </tr><tr>
        }
        @:<td align="center" >
           <strong>  @item.Name</strong> <br />
            @item.Description <br />
            <a href="@item.Url" target="_blank"><img src="../../Content/recipesPictures/@item.PictureName" alt="" height="200px" width="250" />  </a>
       @: </td>
            
    }
    @:</tr>


}
</table>
    
    
} 


 