@model MvcDeganitSite.Models.Recipe

@{
    ViewBag.Title = "מחיקת מתכון";
}

<h2>מחיקת מתכון</h2>

<h3>האם אתה בטוח שאתה רוצה למחוק את זה?</h3>
<fieldset>
    <legend>מתכון</legend>

    <div class="display-label">שם</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">תיאור</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">קישור</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">תמונה</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PictureName)
    </div>

    <div class="display-label">קטגוריה ראשית</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MainCategory.Name)
    </div>

    <div class="display-label">מצוין</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Excellent)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="מחק" /> |
        @Html.ActionLink("חזרה למתכונים", "Index")
    </p>
}
