@model IEnumerable<MvcDeganitSite.Models.Recipe>

@{
    ViewBag.Title = "כל המתכונים";
}


<h2>כל המתכונים שבאתר</h2>

<p>
    @Html.ActionLink("הוסף מתכון", "ChooseMainCategory")
</p>
@using (Html.BeginForm())
{
    <p dir="rtl"> <strong> חפש מתכון(שם מתכון או תיאור) </strong> @Html.TextBox("searchString")  
        <input type="submit" value="חפש" /></p>
}

@if(ViewBag.viewStrategy==MvcDeganitSite.Controllers.AllRecipesView.Advance)
{
    <table class="MainTbl" >
        <tr>
        @{
        int cnt = 0;
        foreach (var item in Model)
        {
            if (cnt++ % 5 == 0)
            {
                @: </tr><tr>
            }
            @:<td align="center" >
               <strong>  @item.Name</strong> <br />
                @item.Description <br />
                <a href="@item.Url" target="_blank"><img src="../../Content/recipesPictures/@item.PictureName" alt="" height="150px" width="200" />  </a>
            if (ViewBag.Administarator==true)
            {
                @Html.ActionLink("ערוך", "Edit", new { id = item.RecipeID }) <span> | </span>
                @Html.ActionLink("מחק","Delete",new{id= item.RecipeID})  <span> |</span>
                @Html.ActionLink(" ניווט","NavigationWords", new{id= item.RecipeID})
             }
             else
             {
                string currentUser=ViewBag.CurrentUser;
                 @Html.ActionLink("הוסף למאגר של "+currentUser, "AddRecipe", new { id = item.RecipeID });
             }
                                                                    
           @: </td>
       
                                                                 
        }
        @:</tr>
        @: <br />
    


    }
    </table>
    <p>@Html.ActionLink("עבור לתצוגה בסיסית","Index",new{ viewStrategy=MvcDeganitSite.Controllers.AllRecipesView.Basic}) |
        @if (ViewBag.Administarator==true){@Html.ActionLink("הוסף מילות ניווט", "Index", "NavigationWords") }
        

    </p>
}
else
{
    <ul>
    @{
        foreach (var item in Model)
        {
            <li><a href="@item.Url">  @item.Name  @item.Description </a> |
                @if (ViewBag.Administarator==true)
                {
                 @Html.ActionLink("ערוך", "Edit", new { id = item.RecipeID }) <span> | </span>
                @Html.ActionLink("מחק","Delete",new{id= item.RecipeID})  <span> |</span>
                @Html.ActionLink(" ניווט","NavigationWords", new{id= item.RecipeID})
                }
                else
                {
                    string currentUser = ViewBag.CurrentUser;
                    @Html.ActionLink("הוסף למאגר של " + currentUser, "AddRecipe", new { id = item.RecipeID });
                }
            </li>
        }
    }
    
    </ul>
    <p>@Html.ActionLink("עבור לתצוגה מתקדמת","Index",new{ viewStrategy=MvcDeganitSite.Controllers.AllRecipesView.Advance}) |
      @if (ViewBag.Administarator==true){ @Html.ActionLink("הוסף מילות ניווט", "Index", "NavigationWords")}

    </p>
}
   
